aside {
    float:left;
    width:400px; 
    position:relative;
    border: 1px salmon;
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 5px;
    height: 500px;
    margin: 5px;
}
.asidenav {
    font-size: 20pt;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    display: inline-table;
    color: black;
    border: 0;
    margin: 0;
    margin-left: 0;
    padding: 10px 10px;
}

.asidenav :hover {
    background-color: rgb(189, 23, 23);
    color:white;
    padding: 10px 10px;

}
.login {
    float: right;
    
}

.login a {
    color:beige;
    text-decoration: none;
    height: auto;
    padding-left: 25px;
}
.login:hover {
    background-color: rgb(189, 23, 23);
    color:white;
    padding: 0;
}
.signup {
    float: right;
    padding-right: 25px;
    
}
.signup a{
    color:beige;
    text-decoration: none;
    height: auto;
    padding: 20px 18px;
}
.signup:hover {
    background-color: rgb(189, 23, 23);
    color:white;
    padding: 0;
}
.fa-search {
    font-size: 10pt;
    text-align: center;
}
 .slideshow {
    border: 1px solid black;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 50px 20px;
    width:1000px;
    margin: 50px;
    float:inline-start
    
 }
 .containers {

    max-width: 1400px;
    position: relative;
    margin: auto;
    background-color: antiquewhite;

 }
 .img-2 {
    width:1200px;
    height: 500px;
    margin: 50px;
    float:inline-start;
    vertical-align: middle;
 }

 /* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    
  }
  hr.new3 {
    border-top: 3px solid green;
  }
  hr.new1 {
    border-top: 5px solid gold;
    padding: 0;
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
    
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }
  
  .mySlides {
    display: none;
}